@import "tailwindcss";

body {
  background-color: black;
  font-family: sans-serif;
  color: #ccc;
  height: 100%;
  text-rendering: optimizeLegibility;
  position: relative;
}

a {
  color: #ffd400;
  text-decoration: none;
}

a:hover,
a:active {
  color: #fefa00;
}
.mainStuff {
  text-transform: uppercase;
  justify-content: space-evenly;
  position: relative;
  display: grid;
  font-size: 3em;
  text-shadow: 0 0 12px rgba(0, 0, 0, 1);
  align-items: flex-start;
  padding-top: 5vh;
  padding-bottom: 10vh;
}
@media (min-width: 767px) {
  .mainStuff {
    grid-template-columns: repeat(2, 1fr);
  }
}
.nextGig {
  padding: 0 1vw;
  padding-bottom: 0;
  line-height: 1.225em;
  font-weight: lighter;

  text-align: center;
}
@media (min-width: 767px) {
  .nextGig {
    flex: 1;
    text-align: left;
  }
}
#exeleLinks {
  line-height: 1em;
  padding: 0 1vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5%;
  font-size: 1.25em;
  text-align: center;
}
@media (min-width: 767px) {
  #exeleLinks {
    flex: 1;
    text-align: right;
  }
}
@media (max-width: 768px) {
  .nextGig {
    font-size: 0.75em;
  }
  #exeleLinks {
    font-size: 1em;
  }
}
a.ftvLink img {
  filter: invert(25%) sepia(85%) saturate(1638%) hue-rotate(2deg)
    brightness(108%) contrast(102%);
}
a.ftvLink:hover img {
  filter: invert(20%) sepia(85%) saturate(1638%) hue-rotate(2deg)
    brightness(108%) contrast(102%);
}
@keyframes blurIn {
  0% {
    backdrop-filter: blur(100px);
  }
  100% {
    backdrop-filter: blur(0px);
  }
}
.nextGig time {
  white-space: nowrap;
}
.nextGig time {
  cursor: pointer;
}

.nextGig time,
.nextGig .venue,
.nextGig .otherHeadliners em {
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  font-style: normal;
}

.otherHeadliners a {
  white-space: nowrap;
  display: block;
}

.otherHeadliners a::after {
  white-space: normal;
  content: ", ";
  font-weight: inherit;
  color: #ccc;
  font-size: 0.9em;
}
.otherHeadliners a:last-child::after {
  content: "";
}

.otherHeadliners a::before {
  white-space: normal;
  content: "";
  font-weight: inherit;
  color: #ccc;
  font-size: 0.9em;
}

.otherHeadliners a:first-child::before {
  content: "";
}
