@import "tailwindcss";

body {
  background-color: black;
  font-family: sans-serif;
  color: #ccc;
  height: 100%;
  text-rendering: optimizeLegibility;
  font-display: swap;
  position: relative;
}

a {
  color: #ffd400;
  text-decoration: none;
}

a:hover,
a:active {
  color: #fefa00;
}

.nextGig {
  line-height: 1.225em;
  font-weight: lighter;

  text-align: center;
}
@media (min-width: 767px) {
  .nextGig {
    flex: 1;
  }
}

a.ftvLink img {
  filter: invert(25%) sepia(85%) saturate(1638%) hue-rotate(2deg)
    brightness(108%) contrast(102%);
}
a.ftvLink:hover img {
  filter: invert(20%) sepia(85%) saturate(1638%) hue-rotate(2deg)
    brightness(108%) contrast(102%);
}
@keyframes blurIn {
  0% {
    backdrop-filter: blur(100px);
  }
  100% {
    backdrop-filter: blur(0px);
  }
}
.nextGig time {
  white-space: nowrap;
}
.nextGig time {
  cursor: pointer;
}

.nextGig time,
.nextGig .venue,
.nextGig .otherHeadliners em {
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  font-style: normal;
}

.otherHeadliners a {
  white-space: nowrap;
}

.otherHeadliners a::after {
  white-space: normal;
  content: ", ";
  font-weight: inherit;
  color: #ccc;
  font-size: 0.9em;
}
.otherHeadliners a:last-child::after {
  content: "";
}

.otherHeadliners a::before {
  white-space: normal;
  content: "";
  font-weight: inherit;
  color: #ccc;
  font-size: 0.9em;
}

.otherHeadliners a:first-child::before {
  content: "";
}
